@font-face {
    font-family: 'novecento_sans_widebook';
    src: url('/fonts/synthview_-_novecento_sans_wide_book-webfont.eot');
    src: url('/fonts/synthview_-_novecento_sans_wide_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/synthview_-_novecento_sans_wide_book-webfont.woff') format('woff'),
         url('/fonts/synthview_-_novecento_sans_wide_book-webfont.ttf') format('truetype'),
         url('/fonts/synthview_-_novecento_sans_wide_book-webfont.svg#novecento_sans_widebook') format('svg');
    font-weight: normal;
    font-style: normal;

}