transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

a
	color aqua
	text-decoration none


body
	font-size 16px
	font-family 'novecento_sans_widebook'

.container
	width 960px
	margin 5px auto

	& > header
		border-bottom 1px solid silver
		position absolute
		top 0px
		width 960px
		background url('/images/keyarts/Menu/fondomenu.png') repeat-x;

	& .logo
	& nav
		display inline-block
		vertical-align top

	& .logo
		width 300px

	& nav
		position absolute
		right 0px

	& nav ul
		padding 0
		margin 0
		
		

	& nav ul li
		list-style none
		display inline-block
		vertical-align top

	& nav ul li a
		color gray
		text-transform uppercase
		padding 30px 40px
		display block
		text-decoration none
		&:hover
		& .active
			color aqua

	& nav ul li a:last-child
		padding-right 0


article header h2
	color silver
	padding 10px 20px
	text-transform uppercase
	margin 5px 0px
	background url('/images/keyarts/News/titulonews.png') no-repeat
	box-sizing border-box
	height 45px

article#encabezado figure img
	margin 40px auto 0;
	display block
	box-sizing border-box 
	padding-left 80px

article.izquierda
	width 500px
	float left
	& ul.lista-noticias
		padding 0
		margin 0
		& li.noticia
			border 1px solid silver
			list-style none
			text-align center
			padding 40px 20px
			margin-bottom 20px
			& .titulo-noticia
				text-transform uppercase
				text-align left
				font-size 2em
				margin 10px
			& .imagen-noticia img
				width 100%
			& .tiempo-noticia
				text-transform uppercase
				text-align left
				font-size 1em
				width 100%
				display block
				margin 10px
			& .contenido-noticia
				text-transform uppercase
				text-align left
				font-size .9em
				margin 10px


article.derecha
	float right
	width 400px
	margin-left 55px
	margin-bottom 20px


article.centrado
	width 100%
	border-bottom 1px solid silver
	margin-bottom 0px
	margin-top 60px

	& div.derecha
	& div.izquierda
		display inline-block
		vertical-align top

	& div.derecha 
		width 400px

	& div.izquierda
		width 540px

	&:first-child
		margin-top 10px
		background-color red

	&:last-child
		border-bottom none
		margin-bottom 10px

	& div.apple-store
		color white
		padding 10px 20px
		text-transform uppercase
		margin 5px 0px
		background url('/images/keyarts/Music/botonitunes.png') no-repeat
		box-sizing border-box
		height 45px
		margin-top 20px
		margin-bottom 10px
		& a
			display block 
			height 100%
			width 100%
	
	& div.sound-cloud
		color white
		padding 10px 20px
		text-transform uppercase
		margin 5px 0px
		background url('/images/keyarts/Music/botonsoundcloud.png') no-repeat
		box-sizing border-box
		height 45px
		margin-top 30px
		margin-bottom 10px
		& a
			display block 
			height 100%
			width 100%

.container > footer
	height 80px
	border-top 1px solid silver
	position relative
	& .datos-footer
		text-transform uppercase
		color silver
		font-size .7em
		margin-top 20px
	& > a
		text-transform uppercase
		color silver
		font-size .7em
		position absolute
		right 0px
		top 20px
		text-decoration none
	& .datos-footer
	& > a
		display inline-block
		vertical-align top

#lenguajes
	position absolute
	bottom -30px
	right -10px
	width 170px
	& span
		display inline-block
		vertical-align top
		width 70px
		margin 5px
		text-align right
		& a
			color gray
			&:hover
				color aqua

ul.tweets-lista
	padding 0 
	margin 0
	& li.tweet-item
		list-style none
		border-bottom 1px solid silver
		margin-bottom 5px
		margin-top 10px
		& .tweet-item-contenedor div
			display inline-block
			vertical-align top
		& .tweet-item-imagen
			width 60px
		& .tweet-item-contenido
			width 325px
			padding-left 5px
			font-size .8em
			& span
				display none
		& .tweet-item-imagen
		& .tweet-item-contenido
			display inline-block
			vertical-align top