a {
  color: #0ff;
  text-decoration: none;
}
body {
  font-size: 16px;
  font-family: 'novecento_sans_widebook';
}
.container {
  width: 960px;
  margin: 5px auto;
}
.container > header {
  border-bottom: 1px solid #c0c0c0;
  position: absolute;
  top: 0px;
  width: 960px;
  background: url("/images/keyarts/Menu/fondomenu.png") repeat-x;
}
.container .logo,
.container nav {
  display: inline-block;
  vertical-align: top;
}
.container .logo {
  width: 300px;
}
.container header nav {
  position: absolute;
  right: 0px;
}
.container nav ul {
  padding: 0;
  margin: 0;
}
.container nav ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.container nav ul li a {
  color: #808080;
  text-transform: uppercase;
  padding: 30px 40px;
  display: block;
  text-decoration: none;
}
.container nav ul li a:hover,
.container nav ul li a.active {
  color: #0ff;
}
.container nav ul li a:last-child {
  padding-right: 0;
}
article header h2 {
  color: #c0c0c0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 5px 0px;
  background: url("/images/keyarts/News/titulonews.png") no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
}
article#encabezado figure img {
  margin: 80px auto 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
article.izquierda {
  width: 500px;
  float: left;
}
article.izquierda ul.lista-noticias {
  padding: 0;
  margin: 0;
}
article.izquierda ul.lista-noticias li.noticia {
  border: 1px solid #c0c0c0;
  list-style: none;
  text-align: center;
  padding: 40px 20px;
  margin-bottom: 20px;
}
article.izquierda ul.lista-noticias li.noticia .titulo-noticia {
  text-transform: uppercase;
  text-align: left;
  font-size: 2em;
  margin: 10px;
}
article.izquierda ul.lista-noticias li.noticia .imagen-noticia img {
  width: 100%;
}
article.izquierda ul.lista-noticias li.noticia .tiempo-noticia {
  text-transform: uppercase;
  text-align: left;
  font-size: 1em;
  width: 100%;
  display: block;
  margin: 10px;
}
article.izquierda ul.lista-noticias li.noticia .contenido-noticia {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.9em;
  margin: 10px;
}
article.derecha {
  float: right;
  width: 400px;
  margin-left: 55px;
  margin-bottom: 20px;
}
article.centrado {
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 0px;
  margin-top: 60px;
}
article.centrado div.derecha,
article.centrado div.izquierda {
  display: inline-block;
  vertical-align: top;
}
article.centrado div.derecha {
  width: 400px;
}
article.centrado div.izquierda {
  width: 520px;
  margin-left: 30px;
}

article.centrado div.izquierda ol {
  font-size: 1.2em;
}

article.centrado div.izquierda ol li {
  margin-bottom: 10px;
  text-transform: capitalize;
}

article.centrado:first-child {
  margin-top: 10px;
  background-color: #f00;
}
article.centrado:last-child {
  border-bottom: none;
  margin-bottom: 10px;
}
article.centrado div.apple-store {
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 5px 0px;
  background: url("/images/keyarts/Music/botonitunes.png") repeat-x;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 20px;
}
article.centrado div.apple-store a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.5em;
  text-align: center;
}
article.centrado div.sound-cloud {
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 5px 0px;
  background: url("/images/keyarts/Music/botonsoundcloud.png") repeat-x;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 20px;
}
article.centrado div.sound-cloud a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.5em;
  text-align: center;
}
.container > footer {
  height: 80px;
  border-top: 1px solid #c0c0c0;
  position: relative;
}
.container > footer .datos-footer {
  text-transform: uppercase;
  color: #c0c0c0;
  font-size: 0.7em;
  margin-top: 20px;
}
.container > footer > a {
  text-transform: uppercase;
  color: #c0c0c0;
  font-size: 0.7em;
  position: absolute;
  right: 0px;
  top: 20px;
  text-decoration: none;
}
.container > footer .datos-footer{
  display: inline-block;
  vertical-align: top;
}

.container > footer .datos-footer:last-child{
  float:right;
}

.instagram-placeholder{
    text-align: center;
    width: 400px;
}

.instagram-placeholder a{
    display: block;
    width: 100%;
}

.instagram-placeholder img{
    display: block;
    width: 100%;
}

#lenguajes {
  position: absolute;
  bottom: -30px;
  right: -10px;
  width: 170px;
}
#lenguajes span {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  margin: 5px;
  text-align: right;
}
#lenguajes span a {
  color: #808080;
}
#lenguajes span a:hover {
  color: #0ff;
}
ul.tweets-lista {
  padding: 0;
  margin: 0;
}
ul.tweets-lista li.tweet-item {
  list-style: none;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 5px;
  margin-top: 10px;
}
ul.tweets-lista li.tweet-item .tweet-item-contenedor div {
  display: inline-block;
  vertical-align: top;
}
ul.tweets-lista li.tweet-item .tweet-item-imagen {
  width: 60px;
}
ul.tweets-lista li.tweet-item .tweet-item-contenido {
  width: 325px;
  padding-left: 5px;
  font-size: 0.8em;
}
ul.tweets-lista li.tweet-item .tweet-item-contenido span {
  display: none;
}
ul.tweets-lista li.tweet-item .tweet-item-imagen,
ul.tweets-lista li.tweet-item .tweet-item-contenido {
  display: inline-block;
  vertical-align: top;
}

.cancionDelMes{
  text-align: center;
}

.cancionDelMes h3{
  background: url("/images/keyarts/News/titulonews.png") repeat-x;
  color: #c0c0c0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 5px 0px;

}

ul.lista-musica {
    margin: 0;
    padding: 0;
    list-style:  none;
}

ul.lista-galeria-privada {
    margin: 0;
    padding: 0;
    list-style:  none;
    text-align:  center;
}

ul.lista-galeria-videos {
    margin: 0;
    padding: 0;
    list-style:  none;
}

ul.lista-galeria-privada li.item,
ul.lista-galeria-videos li.item
{
    display: inline-block;
    vertical-align:  top;
}